.container {
	border:  1px solid black;
	text-align: center;
}

#timeContainer {
	display:  flex;
	justify-content: center;
}

#splitContainer {
	display:  flex;
}

#addSplitBtn {
	margin-left:  auto;
}